extends layout

block content
  header
    div.container
      div.row
        div.col-md-12
          h1 iRotate - Content Aware Rotation
        div.col-md-12.hidden-xs
          p Final Project @ Digital Visual Effects, Spring 2014 @ NTU
        div.col-md-12.hidden-xs
          p
            a(href="#") Chan Yu-Chien
            | , 
            a(href="#") Alice Lee
            | , and 
            a(href="#") 李柏希
  
    //- img#result
  br
  div.container
    div.row
      div.col-md-6
        div#artifacts-container
          p.thumb-info
            span.region.before
            span.region.after
            img.twinkling(src="./images/input/fig1.png")
            img.twinkling(src="./images/results/fig1_result.png")

        div#artifacts-container
          p.thumb-info
            span.region.before
            span.region.after
            img.twinkling(src="./images/input/fig2.png")
            img.twinkling(src="./images/results/fig2_result.png")

        div#artifacts-container
          p.thumb-info
            span.region.before
            span.region.after
            img.twinkling(src="./images/input/fig3.png")
            img.twinkling(src="./images/results/fig3_result.png")

        div#artifacts-container
          p.thumb-info
            span.region.before
            span.region.after
            img.twinkling(src="./images/input/fig4.JPG")
            img.twinkling(src="./images/results/fig4_result.JPG")

        div#artifacts-container
          p.thumb-info
            span.region.before
            span.region.after
            img.twinkling(src="./images/input/fig5.JPG")
            img.twinkling(src="./images/results/fig5_result.JPG")

        div#artifacts-container
          p.thumb-info
            span.region.before
            span.region.after
            img.twinkling(src="./images/input/fig8.jpg")
            img.twinkling(src="./images/results/fig8_result.jpg")

        div#artifacts-container
          p.thumb-info
            span.region.before
            span.region.after
            img.twinkling(src="./images/input/fig9.jpg")
            img.twinkling(src="./images/results/fig9_result_4.jpg")

        div#artifacts-container
          p.thumb-info
            span.region.before
            span.region.after
            img.twinkling(src="./images/input/fig10.jpg")
            img.twinkling(src="./images/results/fig10_result_-4.75.jpg")

          //- img.scale-with-grid#result(src="/uploaded/example.png")
          //- div.my-scroll-bar-wrap.scroll-bar-wrap.ui-widget-content.ui-corner-bottom
              //- div.scroll-bar
      //- div.col-md-4
        div#log

  //- footer
    //- div.container
      //- div.row
        //- div.col-md-12 This is footer


