extends layout

block content
  header
    div.container
      div.row
        div.col-md-12
          h1 iRotate - Content Aware Rotation
        div.col-md-12.hidden-xs
          p Final Project @ Digital Visual Effects, Spring 2014 @ NTU
        div.col-md-12.hidden-xs
          p
            a(href="#") Chan Yu-Chien
            | , 
            a(href="#") Alice Lee
            | , and 
            a(href="#") 李柏希
  div.container
    div.row
      div.col-md-12
        form(method='post', action='/')
          a.btn_addPic
            span 
              em +
              | Upload a Image
            input(type='file', name='myFile', id='myFile').filePrew
          //- p
          div.form-actions(style="display: none;")
            input.btn.btn-primary(type='submit', value='Submit')
    //- hr
    div.row
      div.col-md-12
        div.progress.progress-striped.active.hide
          div.bar(style='width: 0%')
    div.row
      div.col-md-12
        div.alert.hide
          button.close(type='button', data-dismiss='alert') x
          span
            strong.message
    //- img#result
    div.row
      div.col-md-6
        div#result-container
          div#lines
          a.round-button#dec-angles -
            //- span.glyphicon.glyphicon-plus-sign
          a.round-button#inc-angles +
          a.confirm-button#finish-adjust OK
            //- span.glyphicon.glyphicon-minus-sign
          img.scale-with-grid#result(src="/uploaded/example.png")
          div.my-scroll-bar-wrap.scroll-bar-wrap.ui-widget-content.ui-corner-bottom
              div.scroll-bar
      div.col-md-6
        div#log
      div.col-md-6#index-artifacts
        div#artifacts-container
          p.thumb-info
            span.region.before
            span.region.after
            img.scale-with-grid.twinkling#rotation-before(src="./images/fig1.png")
            img.scale-with-grid.twinkling#rotation-result(src="./images/fig1_result.png")

  //- footer
    //- div.container
      //- div.row
        //- div.col-md-12 This is footer


