body {
  font-size: 16px;
  line-height: 1.5; 
  background: #fafafa url(../images/body-bg.jpg) 0 0 repeat;
  font-family: Helvetica, Arial, serif;
  font-weight: 400;
  /*color: #666;*/
}
.scale-with-grid { outline: 0; width: 100%; height: auto; }

#dec-angles, #inc-angles{
	position: absolute;
	bottom: 9px;
	z-index: 10;
	/*border-radius: 100%;*/
}

#dec-angles{
	left: -webkit-calc(20% - 30px - 10px);

}

#inc-angles{
	left: -webkit-calc(65% + 10px);
}

#finish-adjust{
	position: absolute;
	bottom: 9px;
	z-index: 10;
	left: -webkit-calc(65% + 50px);
}
.round-button, .confirm-button{
	opacity: 0.8;
    display:block;
    width:30px;
    height:30px;
    line-height:26px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    background: #464646;
    box-shadow: 0 0 3px gray;
    font-size:20px;
    font-weight:bold;
    -webkit-user-select: none;
}
.confirm-button {
	width:60px;
	color:#f5f5f5;
	height:30px;
	border-radius: 5px;
	text-decoration:none;
}

.round-button:hover, .confirm-button:hover {
    background: #262626;
    color:#f5f5f5;
    cursor:pointer;
    text-decoration:none;
}
.round-button:active, .confirm-button:active {
    background: black;
    color:#f5f5f5;
    cursor:pointer;
    text-decoration:none;
}

footer{
	height: 200px;
}

#log {
	height: 300px;
	overflow: scroll;
}
#result-container {
	border: 1px solid #555;
	overflow: hidden;
	/*padding: 0;*/
	/*box-sizing: border-box;*/
	position: relative;
}
#result{
}

#result-container .my-scroll-bar-wrap{
	position: absolute;
	z-index: 10;
	bottom: 5px;
	/*opacity: 0.8;*/
	width:45%;
	left: 20%;
	margin: 0 auto;
	/*background: none;*/
	padding:0 10px 0 11px;
	background: rgba(50, 50, 50, 0.8);
	border-radius: 10px;
	border:2px solid rgba(255, 255, 255, 0.7);
}	

#result-container .scroll-bar{
	/*opacity: 0.8;*/
	background: none;
	/*background: #333 url("images/ui-bg_flat_75_ffffff_40x100.png") 50% 50% repeat-x;*/
}
#result-container .ui-slider-handle{
	/*background: #000;*/
	border-radius: 10px;
}
#result-container .ui-state-hover{
	/*background: #000;*/
}

.scroll-bar-wrap { 
	clear: left; padding: 0 4px 0 2px; margin: 0 -1px -1px -1px; 
}
.scroll-bar-wrap .ui-slider { 
	background: none; border:0; height: 2em; margin: 0 auto;  
}
.scroll-bar-wrap .ui-handle-helper-parent { 
	position: relative; width: 100%; height: 100%; margin: 0 auto; 
}
.scroll-bar-wrap .ui-slider-handle { 
	top:.1em; height: 1.8em; 
}
.scroll-bar-wrap .ui-slider-handle .ui-icon { 
	margin: -8px auto 0; position: relative; top: 50%; 
}

#lines {
    background-size: 40px 40px;    
    background-image:repeating-linear-gradient(0deg, #ddd, #ddd 1px, transparent 1px, transparent 40px),repeating-linear-gradient(-90deg, #ddd, #ddd 1px, transparent 1px, transparent 40px);
    height:100%;
    width:100%;
    opacity:0.7;
    position:absolute;
    top:0;
    left:0;
    z-index:3;
}



*{margin:0;padding:0;}
a.btn_addPic, a.btn_addPic:hover, a.btn_addPic:focus, a.btn_addPic:active{text-decoration:none;}
.btn_addPic{
display: block;
position: relative;
width: 250px;
height: 39px;
overflow: hidden;
border: 1px solid #999;
/*background: none repeat scroll 0 0 #F3F3F3;*/
background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
color: #999999;
cursor: pointer;
text-align: center;
margin: 30px auto 30px;

}
.btn_addPic:active{
	background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
.btn_addPic span{display: block;line-height: 39px;}
.btn_addPic em {
background:url(http://p7.qhimg.com/t014ce592c1a0b2d489.png) 0 0;
display: inline-block;
width: 18px;
height: 18px;
overflow: hidden;
margin: 10px 5px 10px 0;
line-height: 20em;
vertical-align: middle;
}
.btn_addPic:hover em{background-position:-19px 0;}
.filePrew {
display: block;
position: absolute;
top: 0;
left: 0;
width: 140px;
height: 39px;
font-size: 100px; /* 增大不同浏览器的可点击区域 */
opacity: 0; /* 实现的关键点 */
filter:alpha(opacity=0);/* 兼容IE */
}
